.container {
  padding: 2rem;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    padding: 1rem;
  }
}


.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;

  &__background {
    width: 100%;
    height: 100%;
    background: grey;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__inner {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    width: 85%;
    height: 90%;
    max-width: 600px;
    max-height: 600px;
    border-radius: 20px;
    background: white;
    padding: 1rem;
  }

  &__close {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 20;
    fill: red;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.6s;
    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}

.show-element {
  display: flex;
  animation: show-element 0.3s linear forwards;
}

@keyframes show-element {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.fade-in-element {
  display: flex;
  animation: fade-in-element 0.3s linear forwards;
}

@keyframes fade-in-element {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}