.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  &__time-value {
    width: 160px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__circle {
    stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
    stroke-dashoffset: 0;
    transition: all 1s linear;
  }
  svg {
    transform: rotate(-90deg);
  }
}
