.game-progress-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  flex-grow: 1;
}

.game-progress {
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  padding: 2rem 4rem;
  box-shadow: $box-shadow;
  border-radius: 15px;

  @media (max-width: 988px) {
    padding: 1rem;
  }
  @media (max-width: 844px) and (orientation: landscape) {
    padding: 0;
  }
}

.countdown {
  transform: rotate(-90deg);

  width: $countdown-size;
  height: $countdown-size;

  &__circle {
    stroke: $circle-color;
    stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
    stroke-dashoffset: 0;
    transition: all 1s linear;
  }
}

.game-data {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  &__time-value {
    color: $font-color;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  &__current-waste {
    display: none;
    width: 50px;
    height: 50px;
  }
}

.waste-containers {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}

.waste-container {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: $box-shadow;

  &:hover {
     svg {
       transition: 0.6s;
       transform: scale(1.02);
     }
  }

  &__description {
    margin: 0 auto 0.2rem;
    text-align: center;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    color: $background-color;
    user-select: none;
  }

  @media (max-width: 844px) and (orientation: landscape) {
    max-width: 100px;
  }
}

.score-wrapper {
  display: flex;
  justify-content: end;

  @media (max-width: 575px) {
    justify-content: center;
  }
}

.score {
  text-align: right;
  margin-bottom: 2rem;
  font-size: 2rem;
  user-select: none;
  padding: 1rem;
  border-radius: 10px;
  background: $green;
  color: $font-color;
  box-shadow: $box-shadow;

  @media (max-width: 575px) {
    text-align: center;
    width: 100%;
  }

  @media (orientation:landscape) {
    margin-bottom: 0;
  }
}

.answer {
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  &__incorrect, &__correct {
    width: $waste-image-width;
    height: $waste-image-height;
    display: none;
  }
}