@import "@/scss/normalize/normalize.scss";
@import "@/scss/normalize/reset.scss";
@import "@/scss/countdown.scss";

.container {
  padding: 1rem;
}

.waste-containers {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.waste-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &__description {
    position: absolute;
    color: #FFF;
  }
}