@import "@/scss/normalize/normalize.scss";
@import "@/scss/normalize/reset.scss";
@import "@/scss/countdown.scss";

.container {
  padding: 1rem;
}

.waste-containers {
  display: flex;
  justify-content: center;
  gap: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.waste-container {
  max-width: 150px;
  &__description {
    text-align: center;
  }

  @media (orientation:landscape) {
    max-width: 120px;
  }
}