@import "@/scss/normalize/normalize.scss";
@import "@/scss/normalize/reset.scss";

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.container {
  padding: 1rem;
  height: 100vh;
}

.game-progress {
  position: relative;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  cursor: pointer;

}

.countdown {
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;

  &__circle {
    stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
    stroke-dashoffset: 0;
    transition: all 1s linear;
  }
}

.game-data {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__time-value {

    margin-bottom: 0.5rem;
  }

  &__current-waste {
    display: none;
    width: 50px;
    height: 50px;
  }
}

.waste-containers {
  display: flex;
  justify-content: center;
  gap: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.waste-container {
  max-width: 150px;
  &__description {
    text-align: center;
  }

  @media (orientation:landscape) {
    max-width: 120px;
  }
}

.score {
  text-align: right;
  margin-bottom: 2rem;
  font-size: 2rem;
  @media (orientation:landscape) {
    margin-bottom: 0;
  }
}