.new-record {
  position: relative;
  width: 100%;
  height: 100%;

  &__image {
    width: 100%;
    height: 100%;
    position: absolute;
    background: no-repeat center url("/dist/assets/images/animation/fireworks.gif");
  }
  &__title {
    position: relative;
    color: green;
    text-align: center;
    font-size: 1.8rem;
    margin: 1rem 0 2rem;
  }
  &__description {
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  &__best-score {
    display: block;
    position: relative;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: green;
  }
}