$waste-image-width: 50px;
$waste-image-height: 50px;

$background-color: #fffdf2;
$font-color: #004466;
$circle-color: #6fdb6f;

$dark-green: #13a813;
$green: #49f2aa;
$yellow-green: #b7f99b;
$black: #282522;
